.search-class {
    padding: 12px 10px;
    width: 20rem;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.header-list {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button-list {
    background-color: lightblue;
    color: black;
    border: lightblue;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
}

.button-create {
    background-color: #007bff;
    color: white;
    border: #007bff;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0a2d53;
}

.table-container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

.btn {
    padding: 8px 17px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
}

.btn.edit {
    background-color: lightblue;
    color: black;
}

.btn.delete {
    background-color: red;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.modal-body label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    font-weight: bold;
}

.modal-body input,
.modal-body select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.modal-footer {
    text-align: right;
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}